<template>
  <HomeView />
</template>

<script lang="ts">
import { Options, Vue } from "vue-class-component";
import HomeView from "./components/HomeView.vue";

@Options({
  components: {
    HomeView,
  },
})
export default class App extends Vue {}
</script>

<style scr="./style.css"></style>
